<% include partials/header.ejs %>
<div id="landing-banner" class="background-image">
    <div class="layer">
        <div class="content">
            <div class="navbar navbar-bottom">
                <ul id="nav-list">
                    <li id="nav-head">ROO WEED</li>
                    <li class="nav-item"><a href="#about">ABOUT</a></li>
                    <li class="nav-item"><a href="#resume">RESUME</a></li>
                    <li class="nav-item"><a href="#contact">CONTACT</a></li>
                    <li class="dropdown"><a onclick="dropNav()"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
                </ul>
                <div class="dropdown-content navbar-bottom">
                    <ul class="drop-list">
                        <li class="drop-item"><a href="#about">ABOUT</a></li>
                        <li class="drop-item"><a href="#resume">RESUME</a></li>
                        <li class="drop-item"><a href="#contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="background-colored">
    <div class="content">
        <div class="landing-intro">
            <div class="container">
                <div class="row">
                    <div class="leftCol col-md-4 col-xs-12">
                        <h1>ABOUT ROO WEED</h1>
                        <hr/>
                        <h6>Roo Weed is a physics major at Middlebury College in Vermont with skills and interests in a wide variety of disciplines, but who is particularly fascinated with space and concerned with the threats of climate change.</h6>
                    </div>
                    <div class="rightCol col-md-8 col-xs-12">
                        <div id="portrait"><img class="img-responsive" src="/rooweed.png"></img></div>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in ex sapien. Praesent arcu lacus, tincidunt quis vulputate sed, eleifend vel purus. Ut porta finibus dignissim. Mauris orci justo, dapibus sit amet enim a, cursus sagittis massa. Ut vel convallis lectus. In hac habitasse platea dictumst. Aliquam pretium aliquam odio semper congue. In vulputate varius sem eu iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris fringilla porttitor lectus quis porta. Fusce in hendrerit dui.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="resume">
    <div class="content">
        <h1><a href="/cv">RESUME</a></h1>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="experience col-md-6 col-sm-12">
                    <div class="vertical-text"><h4>EXPERIENCE</h4></div>
                    <div class="resume-content">
                        <ul>
                            <li>MIDDLEBURY COLLEGE OF ART, VT. Museum Intern, Land and Lens Exhibition, Education and Outreach Department, Fall 2017-Spring 2018.</li>
        		            <li>NASA’S GODDARD SPACEFLIGHT CENTER, MD. Electronic Engineering Intern, Summer 2017.</li>
        		            <li>MIDDLEBURY COLLEGE, VT. Math Tutor and Physics Teaching Assistant, Fall 2016, Fall 2017.</li>
        		            <li>WESLEYAN’S VAN VLECK OBSERVATORY, CT. Astrophysics Research Intern, Summer 2016.</li>
                    		<li>ENDEAVOR URUGUAY, Montevideo, Uruguay. Intern for “Más Emprendedoras” (More Female Entrepreneurs), Fall 2014.</li>
                    		<li>DARTMOUTH HITCHCOCK MEDICAL CENTER, Hanover, NH. Prouty Cancer Fundraiser Intern, Summer 2014.</li>
                    		<li>GEISEL MEDICAL SCHOOL AT DARTMOUTH COLLEGE, Hanover, NH. Cancer Research Intern, Summer 2013.</li>
                    		<li>NORTHFIELD MOUNT HERMON SCHOOL, MA. Reunion staff & fundraising caller, Summer 2013. Resident Leader, Fall 2013-Spring 2014. Assistant Nordic Ski Coach, Winter 2014-15.</li>
                        </ul>
                    </div>
                </div>
                <div class="education col-md-6 col-sm-12">
                    <div class="vertical-text"><h4>EDUCATION</h4></div>
                    <div class="resume-content">
                        <ul>
                            <li>MIDDLEBURY COLLEGE, Middlebury, VT. February 2014-present. Physics major. Art History minor. Middlebury Schools Abroad Madrid, Spring 2017. GPA 3.8.</li>
                    		<li>HONORS & AWARDS: Vermont Space Grant Recipient 2016    ||   College Scholar, Spring 2015-Spring 2017   ||   The Mary Ellen Peller Memorial Award, Spring 2014   ||    Cum Laude Society, Fall 2013   ||   Smith College Award, Spring 2013   ||   Robert Cade Wilson Award, Spring 2013.</li>
                    		<li>EXTRACURRICULARS:  Middlebury Space Club (Founder and President), Fall 2015-Fall 2016. Middlebury Debate Club, Spring 2015. Nordic Ski Instructor, Winter 2016.</li>
                        </ul>
                    </div>
                    <div class="vertical-text"><h4>SKILLS</h4></div>
                    <div class="resume-content">
                        <ul>
                            <li>TECHNOLOGIES: Microsoft Office Suite, LaTeX, Python, and IDL.</li>
                    		<li>LANGUAGES: Spanish</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 contact">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <p class="location">Currently Based in Middlebury, Vermont</p>
            </div>
            <div class="col-md-6 contact">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <p class="email"><a href="mailto:lweed@middlebury.edu">lweed@middlebury.edu</a></p>
            </div>
        </div>
        <div class="contact-icons contact">
                <a href="https://www.facebook.com/roo.weed"><span class="fa fa-facebook"></span></a>
                <a href="https://www.linkedin.com/in/roo-weed-9b717b111/"><span class="fa fa-linkedin"></span></a>
        </div>
        <div class="copyright">
            <span>©2017 Toby Weed webdev. All rights reserved.</span>
        </div>
        <br/>
    </div>
</div>

<% include partials/footer.ejs %>
