<% include partials/header.ejs %>
<div id="landing-banner" class="background-image">
    <div class="layer">
        <div class="content">
            <div class="navbar navbar-bottom">
                <ul id="nav-list">
                    <li id="nav-head">ROO WEED</li>
                    <li class="nav-item"><a id="about-link" class="active" href="#about">ABOUT</a></li>
                    <li class="nav-item"><a id="resume" href="#resume">RESUME</a></li>
                    <li class="nav-item"><a id="contact" href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="about" class="background-colored">
    <div class="content">
        <div class="landing-intro">
            <div class="leftCol">
                <h1>ABOUT ROO WEED</h1>
                <hr/>
                <h6>Roo Weed is a physics major at Middlebury College in Vermont with skills and interests in a wide variety of disciplines, but who is particularly fascinated with space and concerned with the threats of climate change.</h6>
            </div>
            <div class="rightCol">
                <div id="portrait"><img class="img-responsive" src="/rooweed.png"></img></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in ex sapien. Praesent arcu lacus, tincidunt quis vulputate sed, eleifend vel purus. Ut porta finibus dignissim. Mauris orci justo, dapibus sit amet enim a, cursus sagittis massa. Ut vel convallis lectus. In hac habitasse platea dictumst. Aliquam pretium aliquam odio semper congue. In vulputate varius sem eu iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris fringilla porttitor lectus quis porta. Fusce in hendrerit dui.</p>
            </div>
        </div>
    </div>
</div>


<div id="resume" class="background-image-fixed">
    <div class="content">
        <div class="white-layer">
            <h1><a href="/cv">RESUME</a></h1>
        </div>
    </div>
</div>

<div id="cantact" class="background-image-fixed">
    <div class="content">
        <div class="white-layer">
            <h1><a href="/cv">CONTACT</a></h1>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>
