body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(50,50,50);
}

a:hover {
    text-decoration: none;
    color: rgb(50,50,50);
}

.background-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-colored{
    background-attachment: fixed;
    background-color:rgb(243,243,243);
}


/*fixed image banners*/
.background-image-fixed {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-fixed h1 {
    margin: 0 auto;
    padding-top: 102px;
    color: white;
    font-size: 3.5em;
    text-align:center;
}

.layer {
    height:100%;
    background-color: rgba(0,0,0,.35);
}

.white-layer {
    height:100%;
    background-color: rgba(150,150,150,.25);
}

.content {
    height: 100%;
}

/*====================================================Landing======================================================*/

#landing-banner {
    height: 100vh;
    top:0;
    background-image: url("https://cdn.spacetelescope.org/archives/images/wallpaper2/heic1509a.jpg");
    background-position: 50% 74%;
    color: white;
    position: relative;
    text-align: center;
}

#about {
    height: 400px;
}

/*Intro*/

.landing-intro {
    padding-top: 70px;
}

.leftCol {
    display: inline-block;
    width: 35vw;
    height: 100%;
    
    margin-left: 20px;
    margin-right: 3vw;
}

.leftCol hr {
    width: 70%;
    margin-left:0;
}

.leftCol h6 {
    line-height: 1.7em;
}

.rightCol {
    display: inline-block;
    width: 59vw;
    height: 100%;
}

#portrait {
    width: 200px;
    padding: 0;
    margin:0;
    display: inline-block;
    vertical-align: top;
}

#portrait img {
    width: 100%;
    display: inline-block;
}

.rightCol p {
    margin-top: 40px;
    width: 60%;
    display: inline-block;
    margin: 0;
    margin-left: 15px;
}

#landing-resume{
    background-image: url("http://www.birdlife.org/sites/default/files/styles/slider_region/public/climate-cold-glacier-iceberg_0.jpg?itok=qZlPG3-S");
    height: 250px;
}

#landing-work {
    background-image: url("/math.png");
    height: 250px;
    background-position: 50% 40%;
}

/*====================================================-bar======================================================*/

.navbar {
    -webkit-transition: background-color .5s; /* Safari */
    transition: background-color .5s;
}

.navbar-bottom {
    height: 100%;
    vertical-align:bottom;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 100px;
  
  background-color: rgba(20,20,20,.9);
}

#nav-list {
    position: absolute;
    bottom: 0;
    padding-bottom:40px;
}

#nav-list li{
    display:inline-block;
}

#nav-head {
    margin-left: 175px;
    margin-right:60px;
    padding-right: 110px;
    border-right: solid white 1px;
}

.nav-item {
    margin-left: 50px;
}

#nav-list li a {
     color: white;
     -webkit-transition: color .25s; /* Safari */
    transition: color .25s;
}

#nav-list li a:hover {
     text-decoration:none;
     color: gray;
}


/*.sticky + .content {*/
/*  padding-top: 60px;*/
/*}*/