body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(50,50,50);
}

a:hover {
    text-decoration: none;
    color: rgb(50,50,50);
}

.background-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-colored{
    background-attachment: fixed;
    background-color:rgb(243,243,243);
}

.layer {
    height:100%;
    background-color: rgba(0,0,0,.35);
}

.white-layer {
    height:100%;
    background-color: rgba(150,150,150,.25);
}

.content {
    padding-top: 50px;
    height: 100%;
}

/*====================================================Landing======================================================*/

#landing-banner {
    height: 100vh;
    top:0;
    background-image: url("https://cdn.spacetelescope.org/archives/images/wallpaper2/heic1509a.jpg");
    background-position: 50% 74%;
    color: white;
    position: relative;
    text-align: center;
}

/*====================================================About======================================================*/

#about {
    padding-bottom: 150px;
}

/*Intro*/

.landing-intro {
    padding-top: 70px;
}

.leftCol {
    display: inline-block;
    height: 100%;
}

.leftCol hr {
    width: 76%;
    margin-left:0;
    border: solid rgba(100,100,100,.3) .3px;
}

.leftCol h6 {
    line-height: 1.7em;
}

.rightCol {
    height: 100%;
}

#portrait {
    width: 200px;
    /*padding: 0;*/
    /*margin:0;*/
    display: inline-block;
    vertical-align: top;
}

#portrait img {
    width: 100%;
    display: inline-block;
}

.rightCol span {
    width: 65%;
    margin-top: 40px;
    float:right;
    margin: 0;
}

/*====================================================Resume======================================================*/

#resume {
    padding-bottom: 150px;
    background-color: rgba(150,150,150,.25);
}

#resume h1{
    font-size: 2.8em;
    text-align: left;
    margin-left: 20px;
}

#resume hr {
    width: 76%;
    margin-left:0;
    border: solid rgba(100,100,100,.3) .3px;
}

#resume .container {
    margin: 0;
}

#resume li {
    margin-bottom: 10px;
}

#resume .content {
    padding-top: 90px;
}

#resume .resume-content {
    margin-left: 30px;
    border-left: solid rgba(100,100,100,.6) 1.1px;
    padding-left: 10px;
}

.vertical-text {
    padding-left: 10px;
	transform: rotate(90deg);
	transform-origin: left bottom;
	width: 100px;
	color: rgb(125,125,125);
	
	font-family: "avenir", sans-serif;
}


/*======================================================== CONTACT ========================================================*/

.copyright {
    text-align: center;
    color: rgba(50,50,50,.8);
    margin-top: 80px;
}

#contact {
    color: rgba(50,50,50,.8);
    padding-top: 115px;
}

#contact hr {
    margin-top: 0;
}

#contact a {
    color: rgba(50,50,50,.8);
    text-decoration: none;
    -webkit-transition: color .4s;
    transition: color .4s;
}

#contact a:hover{
    color: black;
    text-decoration: none;
}

.contact {
    text-align: center;
    color: rgba(50,50,50,.8);
    font-size: 2em;
    margin-top: 80px;
}

.contact-icons{
    margin-top: 80px;
}

.fa {
    margin: 0 10px 0 10px;
}



/*====================================================navbar======================================================*/

.navbar {
    -webkit-transition: background-color .5s; /* Safari */
    transition: background-color .5s;
    z-index: 1000;
}

.navbar-bottom{
    height: 100%;
    vertical-align:bottom;
}

.navbar-bottom #nav-list {
    position: absolute;
    bottom: 0;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  
  background-color: rgba(20,20,20,.9);
}

#nav-list {
    padding:40px 0 37px 0;
}

#nav-list li{
    display:inline-block;
}

#nav-head {
    margin-left: 175px;
    margin-right:60px;
    padding-right: 110px;
    border-right: solid white 1px;
}

.nav-item {
    margin-left: 50px;
}

#nav-list li a {
     color: white;
     -webkit-transition: color .25s; /* Safari */
    transition: color .25s;
}

#nav-list li a:hover {
     text-decoration:none;
     color: gray;
}

#nav-list li a:focus {
     text-decoration:none;
     color: gray;
}

#nav-list .dropdown {
    display: none;
}

.dropdown-content {
    display: none;
}

.active {
    color: grey !important;
}