@media only screen and (max-width: 768px) {
    body{
        font-size: 1.5em;
    }
    
    body h1 {
        font-size: 2em;
    }
    
    #landing-banner{
        background-image: url("https://cdn.spacetelescope.org/archives/images/wallpaper2/heic1509a.jpg");
        background-attachment: scroll;
        background-position: 50% 80%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .navbar {
        width: 100vw;
    }
    
    .navbar-sticky {
        text-align: center;
    }
    
    .navbar-bottom {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        text-align: center;
        
        background-color: rgba(20,20,20,0);
    }
    
    .colored{
        background-color: rgba(20,20,20,.9);
    }
    
    .navbar-bottom #nav-list {
        position: static;
        bottom: auto;
    }
    
    #nav-list {
        width: 100%;
    }
    
    .navbar #nav-list #nav-head {
        padding-right: 0;
        border: 0;
        margin: 0;
    }
    
    .navbar #nav-list .nav-item {
        display: none;
    }
    
    
    .navbar #nav-list .dropdown {
        display: inline-block;
        margin-left: 10px;
        padding-top: 2px;
    }
    
    .dropdown-content {
        border-top: solid .2px white;
    }
    
    .dropdown-content .drop-list {
        text-align: left;
        width: 100%;
        margin: 10px;
    }
    
    .dropdown-content .drop-list .drop-item a {
        color: rgb(200,200,200);
    }
    
    .rightCol span {
        width: 100%;
    }
}